<div class="center jumbotron">
<% provide(:title, "Home")%>
<title>Home | Sample App</title>

<h1>Welcome to the simple app</h1>

<p>This is the homepage for my sample app</p>

<%= link_to "Sign up" , "signup_path", class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("1.png", alt: "we bear bears"),'http://www.google.com' %>